* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    justify-content: center;

    display: flex;
    flex-direction: column;
}

.header {
    background: white;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    margin: auto;
}

h1 + p {
    width: 425px;
    margin: auto;
}

h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submitButton {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.list-style-none {
    list-style-type: none;
}

.title {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.contacts-content {
    grid-template-columns: repeat(2, 1fr);
}

.main-content {
    grid-template-columns: repeat(3, 1fr);
}

.tile {
    margin: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    min-height: 480px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    background-color: #316099;
}

.footer h3 {
    color: white;
}


.footer p {
    color: white;
}


.footer ul {
    display: flex;
    justify-content: space-around;
    color: white;
}

.background-gradient {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.background-fill {
    background: #EBF3FB;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    display: flex;
    width: 940px;
    margin: auto;
}

.contact-us {
    background: url(./images/contact-up.svg);
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact-us p{
    color: white;
}

hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}