* {
    margin: 0;
    padding: 0;
    color: #1F3F68;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: sans-serif;
    justify-content: center;

    display: flex;
    flex-direction: column;
}

.header {
    background: white;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    color: white;
    padding: 15px 50px;
    border: none;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1 {
    font-size: 64px;
    line-height: 74px;
}

h1 + p {
    width: 425px;
    margin: auto 0;
}

h2 {
    color: #1F3F68;
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3 {
    color: #1F3F68;
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-weight: bold;
}

.contacts a, .contacts a:visited {
    color: #1F3F68;
}

a, a:visited {
    color: white;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.list-style-none {
    list-style-type: none;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.contacts-content {
    grid-template-columns: repeat(2, 1fr);
}

.contacts {
    color: white;
}

.main-content {
    grid-template-columns: repeat(3, 1fr);
}

.tile {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    margin: 20px;
    text-align: center;
    background-color: white;
    min-height: 480px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 20px;
}

form.tile {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-gap: 25px;
}

label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    background-color: #316099;
}

.footer-block {
    width: 80vw;
    margin: 50px auto;
}

.footer h3 {
    color: white;
}


.footer p {
    color: white;
}


.footer ul {
    display: flex;
    justify-content: space-between;
    color: white;
}

.background-gradient {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.page {
    height: 100vh;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-page {
    height: calc(100vh - 100px);
    margin: 0;
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.line {
    display: flex;
    margin: auto;
}

.footer-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images-container {
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 300px 300px;
    grid-gap: 10px;
}

.contact-us {
    background: url(./images/contact-up.svg);
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us p{
    color: white;
}

hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}